body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0e99cc;




}

marquee{
  height: 100vh;

}

.ball{
  max-width: 250px;
  animation: animate 3s linear infinite;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }






}
